#explore-container {
    background: #f3f5f6;
    height: 100%;
    width: 100%; 
    display:flex;
    justify-content: center;
    margin-top:5rem;
  
}

.images-container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    flex-direction: column;
    

}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
   
    width: 75rem;
    max-width: 80rem;
    padding: 15px;
    margin-top: -3rem;
    box-sizing: content-box;
    width: 100%;
}

.single-img {
    display: flex;
    max-height:220px;
    width: auto; 
    height: auto;
    margin-right: 5px;
    margin-top: 5px;
    z-index: 1;
}

.single-img:hover + .hide {
    display: flex;
    position: absolute;
    z-index: 2;
    color: white;
    margin-top: -30px;
    margin-left: 10px;
}

.hide {
    display: none;
}

.explore-title {
    font-size: 22px;
    font-weight: 300;
    padding-top: 20px;
    padding-left:20px;
   
} 

