.nav-explore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    background-color: #161618;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
}

a i {
    color: white;
    margin-right: 2rem;
}

.upload-icon:hover {
    opacity: .8;
}

.logout-button {
    margin-right: 2rem;
}
