#details-container {
    display: grid;
    margin-top: 4rem;
    background-color: #212124;
    padding: 6rem 0;
}

#back-explore:hover {
    text-decoration-line: underline;
}

#back-explore i, a {
    color: white;
    font-size: 1rem;
}

#back-explore a {
    padding-left: .5rem;
}

.i {
    margin-right: -2rem; }
    
/* entire outer container */
.ImageDetailsEntireContainerOuter {
    height: 100%;
    min-width: 1060px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
/* upperhalf container (contains photo) */
.ImageDetailsUpperHalfContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* lowerhalf container (contains comments/tags/etc. ) */
.ImageDetailsLowerHalfContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
