#details-image {
    display: grid;
    justify-content: center;
    margin-top: -5rem;
    background-color: #212124;
    padding: 6rem 0;
    width: 100%;
    margin-bottom: -4rem;
}

#back-explore {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5rem;
}

#back-explore:hover {
    text-decoration-line: underline;
}

#back-explore i, a {
    color: white;
    font-size: 1rem;
}

#back-explore a {
    padding-left: .5rem;
}

.i {
    margin-right: -2rem; }

#star-like i {
    color: white;
}

div #star-like {
    display: flex;
    justify-content: flex-end;
    padding-top: 2rem;
}

#star-like i {
    font-size: 1.5rem;
    margin: 0 .8rem;
}

#star-like i:hover {
    opacity: .8;
}

#image-info {
    display: flex;
    justify-content: center;
    background-color: #f3f5f6;
    height: 50%;
    padding: 0 25rem;
    padding-top: 2.5rem;
}

#username {
    margin-right: 25rem;
    font-size: 1.5rem;
}

#faves {
    padding-right: 3rem;
    font-size: 1.5rem;
}

#comment-talley {
    font-size: 1.5rem;
}

.tag {
    font-size: .8rem;
    color: gray;
    opacity: .8;
}
