#modalExplore {
  position: absolute;
  top: 150px;
  left: 350px;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}

#modal-backgroundExplore {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  opacity: .01;
}

#modal-contentExplore {
}
