.nav-explore {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    align-items: center;
    font-size: 22px;
    background-color: #202023;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    height: 64px;
}

a i {
    color: white;
    margin-right: 2rem;
}

.logout-button {
    margin-right: 2rem;
    margin-bottom: 7px;
}
.NavBarRightSide {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: fit-content;
    margin-left: -5px;
}

.navbar-explore-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-bttn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.logo {
    
}