
  img.profile-icon{
    width: 35px;
    height: 35px;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 25px;

  }

  ul.profile-list {
    list-style-type: none;
  }

  .profile-list-item logout {
    color: black;
    text-decoration: none;
    padding-top: 2px;
    margin-bottom: 10px;
  
  }

  .profile-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 8em;
    height: 7em;
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    right: 3.5%;
    padding: 8px;
    padding-right:-3px;
  }

  .logout-li {
    padding-top:10px;
    margin-top: 14px;
    font-size: 16px;
    border-top: 1px solid rgb(235, 228, 228);
  }


  .profile-list-item {
    font-size: 16px;
    text-align: center;
    margin-left: -48px;
  }

  .user-name-li{
    font-size: 16px;
    font-weight: 450;
    padding-bottom:16px;
    border-bottom: 1px solid rgb(235, 228, 228);
  }


  .hover-link {
    padding-left:3px;
    cursor: pointer;
    /* padding: 2px; */
  }

  .hover-link:hover {
    background-color: rgb(216, 207, 207);
    margin-bottom:3px 
  }

  .profile-icon:hover {
    cursor: pointer;
  }


  .profile-page-reroute{

    text-decoration: none;
    color: black;
    padding-bottom: 5px;
    padding-top: 5px;
   
  }

  .profile-page-reroute:hover{
    border-bottom: 2px solid rgb(6, 6, 6);
  }

  .profile-page-reroute-upload{
    display:flex;
    align-items: center;
    text-decoration: none;
    color: rgb(100, 100, 182);
    /* margin-top: 20px; */
   
  }

 .profile-page-reroute-upload:hover{
    text-decoration: underline;
    color: rgb(100, 100, 182);
  
  }
   .upload-photo-dropdown{
    margin-top:20px;
  }


 

  .numOfImages {
    font-size: 14px;
    color: black;
    margin-left: 5px;
    margin-top: 20px;
    padding-bottom:5px
  }