.nav-explore {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
  align-items: center;
  font-size: 22px;
  background-color: #202023;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: 64px;
}

a i {
  color: white;
  margin-right: 2rem;
}

.logout-button {
  margin-right: 2rem;
  margin-bottom: 7px;
}

.upper-middle {
}
.search-barNav {
  flex: 1;
  width: 50rem;
  height: 35px;
  border-radius: 3px;
  border: solid white 0;
  opacity: 0.8;
}

.search-barNav::placeholder {
  padding-left: 3px;
}

.NavBarRightSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  width: fit-content;
}

/* Search bar Container */

.SearchBarContainer {
  position: absolute;
  height: 250px;
  width: 100%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.797);
  top: 64px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.HiddenResult {
  display: none;
}
.Filteredimages-container {
    display: flex;
  padding-top: 5px;
  width: 100%;
  height: 100%;
}

.FilteredreturnContainer::-webkit-scrollbar {
    display: none;
    /* -ms-overflow-style: none */
    /* does this work at all??? */
}

.FilteredreturnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 30px;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 100%;
  border-bottom: 1px solid black;
  width: 100%;
}
.SearchImageMappedContainer {
height: 120px;
width: 120px;
}

.SearchImageIndividual {
 height: 100px;
 width: 120px;
}
.SearchImageNavLinkTitle {
color: red;
font-weight: bold;
position: relative;
display: flex;
flex-wrap: nowrap;
overflow: hidden;
bottom: 5px;
height: 17px;
}


.errorHandlingSongSearch {
  color: red;
}

.search-barNav {
  flex: 1;
  width: 50rem;
  height: 35px;
  border-radius: 3px;
  border: solid white 0;
  opacity: 0.8;
}

.search-barNav::placeholder {
  padding-left: 3px;
}



.SearchUserMappedContainer {
    height: 120px;
    width: 120px;
    }

    .SearchImageIndividual {
     height: 100px;
     width: 120px;
    }
    .SearchImageNavLinkTitle {
    color: red;
    font-weight: bold;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    bottom: 5px;
    height: 17px;
    }
